
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @heading.H_Name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @heading.H_Phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @heading.H_Address %>
</p>

<p>
  <strong>Categorie:</strong>

  <%= @section.Sec_Name %>
</p>

<%= link_to 'Back', homepage_index_path, :method => :get %>
